<div class="row editor" name="cash_flow">
  <div class="col-5">
    <input type="text" class="update_item" name="subject" value="<%= cash_input.subject %>" >
  </div>
  <div class="col-7">
    <span>
      <%= link_to cash_flow_path(cash_input), method: :delete do %>
        <i class="material-icons delete_item">delete_outline</i>
      <% end %>
      <%= link_to cash_flow_path(cash_input), method: :put do %>
        <i class="material-icons save_item">done</i>
      <% end %>
    </span>
    <span class="pull-right">
      <input type="text" class="update_item" name="income_expenses" style="text-align: right;" value="<%= "#{cash_input.income_expenses}" %>" >
    </span>
  </div>
</div>
