<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自己的财报</title>
  </head>
  <body style="background:rgb(240,240,240)">
    <div class="col-xs-12 col-sm-12">
      <%= render 'cash_flow' %>
      <div id="new_cash_flow" class="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5>新增现金流</h5>
            </div>
            <div class="modal-body">
              <%= render 'cash_flows/new' %>
            </div>
          </div>
        </div>
      </div>
      <%= render 'balance_sheet' %>
    </div>

  </body>

  <script>
    $('.sum').on('click', function () {
      var prevMoney = $(this).parent().prev().find('span').text()
      var money = prevMoney.split('¥')
      sum = 0
      $.each(money, function () {
        sum += parseFloat(this) || 0
      })
      $(this).prev().text(sum)
    })
    $('.total').click(function () {
      var income = Number($('#income').text())
      var outlay = Number($('#outlay').text())
      var sum = income + outlay
      $(this).prev().text(sum)
    })
    $('.add_table').click(function (e) {
      e.preventDefault();
      $("#new_cash_flow").modal('toggle')
    })
  </script>
</html>
