<div class="col-sm-12">
  <div class="case_flow col-sm-5">
    <div class="card-header">
      现金流量表
    </div>
    <div class="card">
      <div class="card-header">
        收入状况
      </div>
      <div class="card-body">
        This is some text within a card body.
      </div>
      <div class="card-header">
        合计
      </div>
      <div class="card-header">
        支出状况
      </div>
      <div class="card-body">
        This is some text within a card body.
      </div>
      <div class="card-header">
        合计
      </div>
      <div class="card-header">
        现金流量
      </div>
    </div>
  </div>
  <div class="col-sm-12 balance_sheet">
    <div class="card-header">
      资产负债表
    </div>
    <div class="row" style="margin-right:0px;margin-left:0px;">
      <div class="assets_sheet">
          <div class="card-header">
            资产
          </div>
          <div class="card-body ">
            This is some text within a card body.
          </div>
      </div>
      <div class="vl"></div>
      <div class="Liability">
          <div class="card-header">
            负债
          </div>
          <div class="card-body">
            This is some text within a card body02.
          </div>
      </div>
    </div>
  </div>
</div>
