.case_flow {
  height: 65vh;
}

.balance_sheet {
  height: 35vh;
}

.assets_sheet {
  width: 60%;
  padding-right: 0px;
  height: 25vh;
  overflow: auto;
  border-right: 1px solid;
  border-color: LightGrey;
}

.Liability {
  width: 40%;
  padding-left: 0px;
  height: 25vh;
  overflow: auto;
}

.title {
  margin-left: 15px;
  color: #ea6f5a;
}

.scoll{
  height: 21vh;
  overflow: auto;
}

.card-body {
  padding-top: 5px;
}

.btn-circle {
    width: 45px;
    height: 45px;
    padding: 4px 14px;
    border-radius: 40px;
    font-size: 24px;
    line-height: 1.42857;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.2);
    margin: -10px 0px;
    float: right;
}

.btn-circle:hover {
  background-color: #ec971f;
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  transform: translateY(-3px);
}

.sum_div{
  background: white;
  border: 1px solid;
  border-color: #F5F5F5;
}

.amount {
  margin-top: 6px;
  margin-right: 15px;
}

.delete_item {
  width: 20px;
  float: right;
}

.save_item {
  width: 20px;
  float: right;
}

.update_item {
  width:100%;
  border: none;
}

@media only screen and (max-width: 600px)  {
  .case_flow {
    height: 100vh;
  }

  .balance_sheet {
    height: 90vh;
  }

  .scoll{
    height: 38vh;
    overflow: auto;
  }

  .vl {
    border-left: 0px;
  }

  .assets_sheet {
    width: 100%;
    height: 38vh;
    overflow: auto;
  }

  .Liability {
    width: 100%;
    height: 50vh;
    overflow: auto;
  }
}
