.case_flow {
  height: 65vh;
}

.balance_sheet {
  height: 35vh;
}

.vl {
  border-left: 2px solid;
  height: 35vh;
}

.assets_sheet {
  width: 60%;
  padding-right: 0px;
}

.Liability {
  width: 40%;
  padding-left: 0px;
  margin-left: -2px
}
